<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <select name="role">
                <option value="customer">Customer</option>
                <option value="vendor">Vendor</option>
                <option value="delivery">Delivery Partner</option>
            </select><br>
            <button type="submit">Sign Up</button>
    </form>

</body>
</html>